<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map: -->

<div class="map-container">
  <agm-map
    [disableDefaultUI]="true"
    [mapTypeId]="'terrain'"
    [latitude]="lat"
    [longitude]="lng"
    [zoom]="zoom"
    (mapReady)="onMapReady($event)"
    [mapDraggable]="mapDraggable"
    [ngClass]="{ 'not-draggable': !mapDraggable }"
  >
    <agm-zoom-control></agm-zoom-control>
    <agm-map-type-control></agm-map-type-control>
    <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
    <agm-rectangle
      *ngIf="
        selection.north && selection.south && selection.east && selection.west
      "
      [north]="selection.north"
      [south]="selection.south"
      [east]="selection.east"
      [west]="selection.west"
      [fillColor]="fillColor"
      [strokeColor]="strokeColor"
      strokeWeight="2"
      [clickable]="false"
      [editable]="false"
      [rectangleDraggable]="false"
    ></agm-rectangle>
  </agm-map>

  <div class="toggle-select">
    <ul
      *ngIf="
        selection.north && selection.south && selection.east && selection.west
      "
    >
      <li><b>North:</b> {{ trimLatLng("" + selection.north) }},<br /></li>
      <li><b>South:</b> {{ trimLatLng("" + selection.south) }},<br /></li>
      <li><b>West:</b> {{ trimLatLng("" + selection.west) }},<br /></li>
      <li><b>East:</b> {{ trimLatLng("" + selection.east) }}</li>
    </ul>
    <button
      mat-raised-button
      color="accent"
      *ngIf="
        selection.north && selection.south && selection.east && selection.west
      "
      (click)="onStart()"
      style="margin-right: 5px"
    >
      <span class="material-icons"> search </span>
    </button>
    <button
      mat-raised-button
      [color]="buttonColor"
      (click)="selectModeToggle()"
    >
      <span *ngIf="mapDraggable" style="padding-right: 4px"> Select Area </span>
      <span *ngIf="!mapDraggable" style="padding-right: 4px">
        Selecting Area
      </span>
      <mat-icon aria-hidden="false" aria-label="Toggle select">crop</mat-icon>
    </button>
  </div>
</div>
