<footer fxLayoutGap="16px" fxLayout="row wrap">
  <div fxFlex="calc(40% - 16px)" fxFlex.lt-sm="100" fxFlex.lt-md="100">
    <h3>
      <span>&copy; </span>
      <span>{{ currentYear }}</span>
      {{ title | uppercase }}
    </h3>
    <p>{{ about }}</p>
    <ul class="social-info">
      <li *ngIf="gitlab">
        <a [href]="gitlab" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            focusable="false"
            width="1em"
            height="1em"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M21.94 13.11l-1.05-3.22c0-.03-.01-.06-.02-.09l-2.11-6.48a.859.859 0 0 0-.8-.57c-.36 0-.68.25-.79.58l-2 6.17H8.84L6.83 3.33a.851.851 0 0 0-.79-.58c-.37 0-.69.25-.8.58L3.13 9.82v.01l-1.07 3.28c-.16.5.01 1.04.44 1.34l9.22 6.71c.17.12.39.12.56-.01l9.22-6.7c.43-.3.6-.84.44-1.34M8.15 10.45l2.57 7.91l-6.17-7.91m8.73 7.92l2.47-7.59l.1-.33h3.61l-5.59 7.16m4.1-13.67l1.81 5.56h-3.62m-1.3.95l-1.79 5.51L12 19.24l-2.86-8.79M6.03 3.94L7.84 9.5H4.23m-1.18 4.19c-.09-.07-.13-.19-.09-.29l.79-2.43l5.82 7.45m11.38-4.73l-6.51 4.73l.02-.03l5.79-7.42l.79 2.43c.04.1 0 .22-.09.29"
            />
            <rect x="0" y="0" width="24" height="24" fill="rgba(0, 0, 0, 0)" />
          </svg>
        </a>
      </li>
      <li *ngIf="linkedIn">
        <a [href]="linkedIn" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            focusable="false"
            width="1em"
            height="1em"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M19 3a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h14m-.5 15.5v-5.3a3.26 3.26 0 0 0-3.26-3.26c-.85 0-1.84.52-2.32 1.3v-1.11h-2.79v8.37h2.79v-4.93c0-.77.62-1.4 1.39-1.4a1.4 1.4 0 0 1 1.4 1.4v4.93h2.79M6.88 8.56a1.68 1.68 0 0 0 1.68-1.68c0-.93-.75-1.69-1.68-1.69a1.69 1.69 0 0 0-1.69 1.69c0 .93.76 1.68 1.69 1.68m1.39 9.94v-8.37H5.5v8.37h2.77z"
            />
          </svg>
        </a>
      </li>
      <li *ngIf="twitter">
        <a [href]="twitter" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            aria-hidden="true"
            focusable="false"
            width="1em"
            height="1em"
            style="
              -ms-transform: rotate(360deg);
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            "
            preserveAspectRatio="xMidYMid meet"
            viewBox="0 0 24 24"
          >
            <path
              d="M22.46 6c-.77.35-1.6.58-2.46.69c.88-.53 1.56-1.37 1.88-2.38c-.83.5-1.75.85-2.72 1.05C18.37 4.5 17.26 4 16 4c-2.35 0-4.27 1.92-4.27 4.29c0 .34.04.67.11.98C8.28 9.09 5.11 7.38 3 4.79c-.37.63-.58 1.37-.58 2.15c0 1.49.75 2.81 1.91 3.56c-.71 0-1.37-.2-1.95-.5v.03c0 2.08 1.48 3.82 3.44 4.21a4.22 4.22 0 0 1-1.93.07a4.28 4.28 0 0 0 4 2.98a8.521 8.521 0 0 1-5.33 1.84c-.34 0-.68-.02-1.02-.06C3.44 20.29 5.7 21 8.12 21C16 21 20.33 14.46 20.33 8.79c0-.19 0-.37-.01-.56c.84-.6 1.56-1.36 2.14-2.23z"
            />
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div fxFlex="calc(30% - 16px)" fxFlex.lt-sm="100" fxFlex.glt-md="50">
    <ul class="contact-info">
      <li>
        <h3>
          {{ john.name }} <span>({{ john.location }})</span>
        </h3>
      </li>
      <li>
        <a href="mailto:{{ john.email }}">
          <p>
            <span class="material-icons"> mail_outline </span>
            <span class="text">{{ john.email }}</span>
          </p>
        </a>
      </li>
      <li>
        <a href="tel:{{ john.phone }}">
          <p>
            <span class="material-icons"> phone </span>
            <span class="text">{{ john.phone }}</span>
          </p>
        </a>
      </li>
    </ul>
  </div>

  <div fxFlex="calc(30% - 16px)" fxFlex.lt-sm="100" fxFlex.lt-md="50">
    <ul class="contact-info">
      <li>
        <h3>
          {{ yasar.name }} <span>({{ yasar.location }})</span>
        </h3>
      </li>
      <li>
        <a href="mailto:{{ yasar.email }}">
          <p>
            <span class="material-icons"> mail_outline </span>
            <span class="text">{{ yasar.email }}</span>
          </p>
        </a>
      </li>
      <li>
        <a href="tel:{{ yasar.phone }}">
          <p>
            <span class="material-icons"> phone </span>
            <span class="text">{{ yasar.phone }}</span>
          </p>
        </a>
      </li>
    </ul>
  </div>
</footer>
