::ng-deep {
  .app-search {
    height: 100%;
    display: block;
    .mat-spinner {
      margin: 60px auto;
    }

    .drawer-left {
      max-width: 320px;
    }

    form {
      display: flex;

      width: 100%;
      .mat-form-field {
        width: calc(100% - 64px);
      }

      button {
        margin-bottom: 1.34375em;
      }
    }

    .mat-button {
      &.toggle-drawer-left {
        position: absolute;
        top: 10px;
        left: 10px;
      }
      &.toggle-drawer-right {
        position: absolute;
        top: 5px;
        right: 5px;
      }
    }
  }
}
