<mat-sidenav-container class="sidenav-container">
  <!-- <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isTablet$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isTablet$ | async) ? 'over' : 'side'"
    [opened]="false"
  >
    <mat-toolbar>
      <span>{{ title | uppercase }}</span>
    </mat-toolbar>
    <mat-nav-list>
      <a
        *ngFor="let item of sideNavItems"
        mat-list-item
        routerLink="{{ item.path }}"
      >
        {{ item.title }}</a
      >
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <a href="/">
        <div class="brand">
          <img src="/assets/civilise-ai--logo.svg" alt="logo" class="logo" />
          <span class="title">{{ title | uppercase }}</span>
        </div>
      </a>
      <span class="spacer"></span>
      <!-- <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button0
        (click)="drawer.toggle()"
        *ngIf="isTablet$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button> -->
      <!-- <div *ngIf="(isTablet$ | async) ? false : true">
        <a
          *ngFor="let item of mainNavItems"
          mat-list-item
          routerLink="{{ item.path }}"
        >
          {{ item.title }}</a
        >
      </div> -->
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
