/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// .container {
//   width: 100%;
//   padding: 0 15px;
//   margin: auto;

//   @media (min-width: 600px) {
//     max-width: 540px;
//   }

//   @media (min-width: 900px) {
//     max-width: 840px;
//   }

//   @media (min-width: 1200px) {
//     max-width: 1140px;
//   }
// }

// .container {
//   padding: 16px 32px;
// }

.cover {
  position: absolute;

  &-xy {
    @extend .cover;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.spacer {
  flex-grow: 1;
}
