<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Civilise AI - App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/app.css?4000" rel="stylesheet" type="text/css">
		<link href="../static/my.css?4000" rel="stylesheet" type="text/css">
    </head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>civilise.ai</h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="app">Get Started</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Landscape Model</h2>
					</header>

					<br>

					<form action="{{ url_for('webapp') }}" method="POST">
						Enter property search:
						<input name="address">
						<input type="submit">
					</form>

					<div class="appdiv">
						<b style="color: #E05555">{{ returnedStatement }}</b>
						<br>
						<canvas id="appcanvas">
							<script src="{{ url_for('static', filename='three.js') }}" class="leftdiv"></script>
							<script src="{{ url_for('static', filename='OrbitControls.js') }}"  class="leftdiv"></script>
							<script src="static/renderResult.js?3000"  class="leftdiv"></script>
							<script type="text/javascript">
                                // TODO: Try holding the path as a variable here.
                                var app_path = '{{ url_for('webapp') }}'
								var True = true;
								var False = false; // Lord forgive me
								var None = null;
								var dem = {{ DEM }};
								var aerialImagery = {{ aerial }};
								var cadastreMap = {{ cadastre }};
								var webappURL = '{{ url_for('webapp') }}';
                                addOverlay(1, {{ trenches_even }}, [120, 60, 20], 0.9, {{ trenches_even_bool }});
								addOverlay(2, {{ trenches_step }}, [66, 30, 10], 0.9, {{ trenches_step_bool }});
								addOverlay(5, {{ gullies_pysheds }}, [2, 79, 105], 0.85, {{ gullies_pysheds_bool }});
								addOverlay(6, {{ ridges_pysheds }}, [212, 45, 23], 0.70, {{ ridges_pysheds_bool }});
								addOverlay(7, {{ cadastre }}, [252, 236, 3], 0.90, {{ cadastre_bool }});
								// addOverlay(4, {{ existing_roads }}, [20, 5, 50], 0.50, true); // Just here as a test for now
								if (dem != null){
									showLandscape(dem);
									if ({{ aerial_bool }}) {
                                        showDefaultTexture(aerialImagery);
                                    } else {
									    showDefaultTexture(null)
                                    }
									overlayBooleanMaps();
								}

							</script>
						</canvas>
					</div>

					<div class="controldiv" style="min-height: 1000px;">
						<br>
						<h2>Overlays:</h2>

                        <span class="switchTitle">Satellite Imagery<span> <br>
						<label class="switch">
							<input type="checkbox" id="switchSatellite" onclick="toggleSatellite(path='{{ url_for('webapp') }}')">
							<span class="slider round"></span>
						</label>
                        <script>
                            if ({{ aerial_bool }}){
                                document.getElementById("switchSatellite").checked = true
                            }
                        </script><br>

                        <span class="switchTitle">Cadastre<span> <br>
						<label class="switch">
							<input type="checkbox" id="switch7" onclick="toggleOverlay(index=7, path=app_path, layerName='cadastre', layerValue='{{ -1 }}')">
							<span class="slider round"></span>
						</label>
                        <script>
                            if ({{ cadastre_bool }}){
                                document.getElementById("switch7").checked = true
                            }
                        </script><br>

                        <span class="switchTitle">Trench Plan (Evenly spaced)</span> <br>
						<label class="switch">
                        <input type="checkbox" id="switch1" onclick="toggleOverlay(index=1, path=app_path, layerName='trenches_even', layerValue='{{ trenches_even_val }}')">
							<span class="slider round"></span>
						</label>
                        <span class="slidecontainer">
                            <input type="range" min="1" max="20" value={{ trenches_even_val }} class="my_slider" id="slider1">
                            <span class="sliderValue" id="value1"></span>
                        </span>
                        <script>
                            refresh_toggle(1, {{ trenches_even_bool }})
                            var slider1 = document.getElementById("slider" + 1);
                            var output1 = document.getElementById("value" + 1);
                            output1.innerHTML = slider1.value;
                            slider1.oninput = function() {
                                output1.innerHTML = this.value;
                                booleanMaps[1].visible = true
                                document.getElementById("switch" + 1).checked = true   // If the slider is moved, turn the toggle on
                                xmlHttp = request_layer(app_path, "trenches_even", this.value)
                                xmlHttp.onload = function() {
                                    booleanMaps[1]["boolArray"] = JSON.parse(xmlHttp.responseText)
                                    overlayBooleanMaps();
                                }
                                xmlHttp.send()
                            }
                        </script><br>

                        <span class="switchTitle">Trench Plan (Equal area)</span> <br>
						<label class="switch">
                        <input type="checkbox" id="switch2" onclick="toggleOverlay(index=2, path=app_path, layerName='trenches_step', layerValue='{{ trenches_step_val }}')">
							<span class="slider round"></span>
						</label>
                        <span class="slidecontainer">
                            <input type="range" min="1" max="20" value={{ trenches_step_val }} class="my_slider" id="slider2">
                            <span class="sliderValue" id="value2"></span>
                        </span>
                        <script>
                            if ({{ trenches_step_bool }}) {
                                document.getElementById("switch" + 2).checked = true
                            }
                            var slider2 = document.getElementById("slider" + 2);
                            var output2 = document.getElementById("value" + 2);
                            output2.innerHTML = slider2.value;
                            slider2.oninput = function() {
                                output2.innerHTML = this.value;
                                booleanMaps[2].visible = true
                                document.getElementById("switch" + 2).checked = true   // If the slider is moved, turn the toggle on
                                xmlHttp = request_layer(app_path, "trenches_step", this.value)
                                xmlHttp.onload = function() {
                                    booleanMaps[2]["boolArray"] = JSON.parse(xmlHttp.responseText)
                                    overlayBooleanMaps();
                                }
                                xmlHttp.send()
                            }
                        </script><br>

                        <span class="switchTitle">Gully Plan</span> <br>
						<label class="switch">
                        <input type="checkbox" id="switch5" onclick="toggleOverlay(index=5, path=app_path, layerName='gullies_pysheds', layerValue='{{ gullies_pysheds_val }}')">
							<span class="slider round"></span>
						</label>
                        <span class="slidecontainer">
                            <input type="range" min="90" max="99" value={{ gullies_pysheds_val }} class="my_slider" id="slider5">
                            <span class="sliderValue" id="value5"></span>
                        </span>
                        <script>
                            refresh_toggle(5, {{ gullies_pysheds_bool }})
                            var slider5 = document.getElementById("slider" + 5);
                            var output5 = document.getElementById("value" + 5);
                            output5.innerHTML = slider5.value;
                            slider5.oninput = function() {
                                output5.innerHTML = this.value;
                                booleanMaps[5].visible = true
                                document.getElementById("switch" + 5).checked = true   // If the slider is moved, turn the toggle on
                                xmlHttp = request_layer(app_path, "gullies_pysheds", this.value)
                                xmlHttp.onload = function() {
                                    booleanMaps[5]["boolArray"] = JSON.parse(xmlHttp.responseText)
                                    overlayBooleanMaps();
                                }
                                xmlHttp.send()
                            }
                        </script><br>

                        <span class="switchTitle">Ridge/Road Plan</span> <br>
						<label class="switch">
                        <input type="checkbox" id="switch6" onclick="toggleOverlay(index=6, path=app_path, layerName='ridges_pysheds', layerValue='{{ ridges_pysheds_val }}')">
							<span class="slider round"></span>
						</label>
                        <span class="slidecontainer">
                            <input type="range" min="90" max="99" value={{ ridges_pysheds_val }} class="my_slider" id="slider6">
                            <span class="sliderValue" id="value6"></span>
                        </span>
                        <script>
                            refresh_toggle(6, {{ ridges_pysheds_bool }})
                            var slider6 = document.getElementById("slider" + 6);
                            var output6 = document.getElementById("value" + 6);
                            output6.innerHTML = slider6.value;
                            slider6.oninput = function() {
                                output6.innerHTML = this.value;
                                booleanMaps[6].visible = true
                                document.getElementById("switch" + 6).checked = true   // If the slider is moved, turn the toggle on
                                xmlHttp = request_layer(app_path, "ridges_pysheds", this.value)
                                xmlHttp.onload = function() {
                                    booleanMaps[6]["boolArray"] = JSON.parse(xmlHttp.responseText)
                                    overlayBooleanMaps();
                                }
                                xmlHttp.send()
                            }
                        </script><br>

                        <span class="switchTitle">(Coming soon) Paddock Plan</span> <br>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>Civilise.ai Techlauncher 2020</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>
