<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Civilise AI - App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="../static/main.css?4000" rel="stylesheet" type="text/css">
		<link href="../static/my.css?4000" rel="stylesheet" type="text/css">
    </head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1>civilise.ai</h1>
				<nav id="nav">
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="about">About</a></li>
						<li><a href="app"></a>Get Started</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major special">
						<h2>Property Search</h2>
						<p></p>
					</header>

					
					<div id="loadingDiv">
						<b>Loading...</b>
					</div>
					<div id="formDiv">

						<form name="propertyForm" action="{{ url_for('webapp') }}" method="POST">
							<h3>Enter property search:</h3>
							<input name="address">
							<input type="button" value="Submit" onclick="loading()">
							<br><b>{{ returnedStatement }}</b>
							<br>
							<br>
							<h3>Instructions:</h3>
							You can find the coordinates of your property using <b style="color: #000000;"><a href="https://www.google.com/maps" target="_blank">Google Maps</a></b>.
							<br>Locate your farm, right click any point within your property and click "<b style="color: #000000;">What's here?</b>". At the bottom of your screen the coordinates of that point will be listed.
							<br><img src="{{ url_for('static', filename='images/whatshere.png') }}" alt="Finding coordinates on Google Maps (Black Mountain)" />
							<br>Copy this and paste it into the field above. Click "<b style="color: #000000;">Submit</b>" to start simulations and optimisations tailor-made for your property.
							<br>
							<br>
							<h3>Some examples:</h3>
							ANU Spring Valley Farm at: 	-35.28878, 149.01080	<br>
							Black Mountain: 			-35.275508, 149.094474	<br>
							Rob Roy Nature Reserve: 	-35.489032, 149.122152	<br>
						</form>

					</div>

					<script type="text/javascript">
						var x = document.getElementById("loadingDiv");
						x.style.display = "none";
						var y = document.getElementById("formDiv");
						y.style.display = "block";
						function loading(){
							var x = document.getElementById("loadingDiv");
							var y = document.getElementById("formDiv");
							x.style.display = "block";
							y.style.display = "none";
							document.propertyForm.submit();
						}
					</script>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="copyright">
						<li>Civilise.ai Techlauncher 2020</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

	</body>
</html>