<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ex. Area or perimeter..."
    #input
  />
</mat-form-field> -->

<div>
  <!-- <div>{{transformedPaddocks | json}}</div> -->
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Paddock #</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ row._id }}
      </td>
    </ng-container>

    <!-- Area Column -->
    <ng-container matColumnDef="area">
      <th mat-header-cell *matHeaderCellDef>
        <span mat-sort-header style="display: inline-block"
          >Area
          <button
            mat-button
            [matTooltip]="metricArea ? 'Switch to acres' : 'Switch to hectares'"
            matTooltipPosition="after"
            color="primary"
            (click)="metricArea = !metricArea; $event.stopPropagation()"
            style="min-width: initial; padding: 0 8px; font-size: 12px"
          >
            ({{ metricArea ? "ha" : "ac" }})
          </button>
        </span>
      </th>

      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ metricArea ? getAreaHectares(row.area) : getAreaAcres(row.area) }}
      </td>
    </ng-container>

    <!-- Perimeter Column -->
    <ng-container matColumnDef="perimeter">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Perimeter (m)</th>
      <td mat-cell *matCellDef="let row" [style.color]="row.color">
        {{ getPerimeter(row.perimeter) }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <!-- <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No data matching the filter "{{ input.value }}"
      </td>
    </tr> -->
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <div>
    <button type="button"
            mat-button
            mat-raised-button
            color="primary"
            (click)="exportPaddockData()">
      Export Paddock Data as GeoJson
    </button>
    <br>
    <br>
    <button type="button"
      mat-button
      mat-raised-button
      color="primary"
      (click)="exportLayerData()">
      Export Layer Data
    </button>
  </div>
</div>
